<section class="tm-mb-30 tm-p-50 tm-bgcolor-2 tm-border-rounded">
    <div class="navbar">
        <nav>
            <h2>MakeCrUb - Макияж для крабов</h2>
            <ul>
                <li>
                    <a href="/">
                        <i class="fas fa-home fa-1x"></i>
                        Главная
                    </a>
                </li>
                <li>
                    <a href="about">
                        <i class="fas fa-users fa-1x"></i>
                        О компании
                    </a>
                </li>

                <li>
                    <a href="gallery">
                        <i class="fas fa-users fa-1x"></i>
                        Галерея
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</section>


