{% load static %}

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<!--<script src="{% static 'js/input.tel.mask.js' %}"></script>-->
<script>
    $(function(){
        // Init the image gallery
        var $gallery = $(".tm-gallery").isotope({
            itemSelector: ".tm-gallery-item",
            layoutMode: "fitRows"
        });

        // Layout Isotope after each image loads
        $gallery.imagesLoaded().progress(function() {
            $gallery.isotope("layout");
        });

        $(".filters-button-group").on("click", "a", function(e) {
            e.preventDefault();
            var filterValue = $(this).attr("data-filter");
            $gallery.isotope({ filter: filterValue });
            $('.filters-button-group a').removeClass('active');
            $(this).addClass('active');
        });

        // Magnific Pop up
        $('.tm-gallery').magnificPopup({
            delegate: 'a',
            type: 'image',
              gallery: { enabled: true }
        });
    });
</script>