{% extends 'layout/layout.html' %}

{% block title %} О компании {% endblock %}

{% block header %}О компании{% endblock %}

{% block content %}
<section class="tm-about tm-mb-80 tm-p-50 tm-bgcolor-2 tm-border-rounded">
    <div class="tm-about-header tm-flex-center">
        <i class="fas fa-users fa-2x"></i>
        <h2>История компании</h2>
    </div>

    <div class="tm-about-text">
        <p class="tm-mb-0">
            История компании <strong>MakeCrUb</strong> началась в далеком 2015 году, когда три студента из города
            Барнаула решили попробовать свои силы в необычном бизнесе. Идея заключалась в том, чтобы делать макияж для
            крабов.
        </p>

        <p class="tm-mb-0">
            Друзья, не обладая большим стартовым капиталом, решили продать пачку просроченных пельменей, чтобы начать
            свой бизнес. С каждым днем компания становилась все популярнее, люди со всей страны заказывали уникальные
            услуги <strong>MakeCrUb</strong>.
        </p>

        <p class="tm-mb-0">
            Спустя несколько лет упорного труда и творческого подхода, компания стала лидером на рынке макияжа для
            крабов. Наша команда профессионалов старается каждый день, чтобы каждый клиент оставался довольным нашей
            работой.
        </p>

        <p class="tm-mb-0">
            <strong>MakeCrUb</strong> - это не просто компания, это наша страсть и наше творчество. Мы верим, что даже
            крабы заслуживают быть красивыми!
        </p>
    </div>
</section>

<section class="tm-about tm-mb-80 tm-p-50 tm-bgcolor-2 tm-border-rounded">
    <div class="tm-about-header tm-flex-center">
        <i class="fas fa-question fa-2x"></i>
        <h2>Почему именно MakeCrUb?</h2>
    </div>

    <div class="tm-about-text">
        <p class="tm-mb-40">
            <strong>MakeCrUb</strong> - это ваш идеальный партнер для создания неповторимого и стильного макияжа вашему
            крабу! Мы уникальны в своем деле и гарантируем профессиональный подход к оформлению ножек, глаз и клешней
            вашего любимца.
        </p>

        <p class="tm-mb-40">
            Наша команда визажистов специализируется на работе с крабами и знает все их особенности. Мы используем
            только качественные косметические средства, безопасные для кожи и панциря крабов. Благодаря нашему опыту и
            таланту, ваш краб будет выглядеть привлекательно и стильно!
        </p>

        <p class="tm-mb-40">
            Обратившись к нам, вы получите индивидуальный подход, профессиональное обслуживание и огромное внимание к
            деталям. Доверьте своего краба нашим специалистам - и вы останетесь довольны результатом! Не упустите
            возможность сделать вашего морского друга еще красивее и ухоженнее с помощью <strong>MakeCrUb</strong>!
        </p>
    </div>
</section>
{% endblock %}


