{% extends 'layout/layout.html' %}

{% block title %} Главная страница {% endblock %}

{% block header %} MakeCrUb - Делаем макияж крабам {% endblock %}

{% block content %}
<section class="tm-about tm-mb-80 tm-p-50 tm-bgcolor-2 tm-border-rounded">
    <div class="tm-about-header tm-flex-center">
        <i class="fas fa-users fa-2x"></i>
        <h2>Кратко про нас</h2>
    </div>
    <div class="tm-about-text">
        <p class="tm-mb-40">
            Компания <strong>MakeCrUb</strong> - это уникальный проект, который занимается созданием красивого и
            стильного макияжа специально для крабов. Наша команда профессиональных визажистов и стилистов тщательно
            подходит к каждому крабу, учитывая его индивидуальные особенности и предпочтения.
        </p>

        <p class="tm-mb-0">
            Мы верим, что красота не знает границ и является важным аспектом самовыражения. Поэтому мы стремимся помочь
            нашим клиентам выглядеть великолепно и уверенно в любой ситуации.
        </p>

        <p class="tm-mb-0">
            Наша компания придерживается высоких стандартов качества и использует только профессиональную косметику,
            чтобы обеспечить безупречный результат. Мы рады видеть каждого краба у нас в студии и сделать его
            выступление по-настоящему незабываемым.
        </p>

        <p class="tm-mb-0">
            Присоединяйтесь к нам и дайте вашему крабу шанс ощутить себя настоящей звездой
        </p>
    </div>
</section>
{% endblock %}